:root
{
    --blue-two: #1F4690;
    --blue-three: #11468F;
    --red-one: #DA1212;
}

/* ================================= Banner v.2 ======================================== */

.banner_trasl{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: start;
    align-items: center;   
    background-image: url("../images/transporte_privado.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: 6%;
}

.banner_exc{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: start;
    align-items: center;   
    background-image: url("../images/excursion.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 6%;
}

.banner_cont{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: start;
    align-items: center;   
    background-image: url("../images/volcan arenal.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 5%;
}

/* ================================= Asistencia y traslados ======================================== */

.first_section
{
    width: 98%;
    margin: 15px;
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 50px 40px;
}

.services_options
{
    width: 98%;
    margin: 15px;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    padding: 50px 40px;
}

.services_options h1
{
    font-size: 1.8em;
    margin-bottom: 30px;
}

.services_options p
{
    font-size: 1em;
    margin-bottom: 3%;
}

.button_modal
{
    background: #F66B0E;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 30px;
}

/* ================================= Guías y excursiones ======================================== */

.excursiones
{
    margin: 1%;
}

.box
{
    width: 100%;
    margin: 15px;
    flex: 1 1 40%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 50px 40px;
}

.box p
{
    font-size: 1em;
    margin-bottom: 5%;
}

.pagination {
    display: inline-block;
    margin: 20px auto 0 auto;    
} 

.pagination a {
    color: var(--blue-three);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 20px;
}

.pagination a.active {
    background-color: var(--red-one);
    color: white;
    border-radius: 5px;
} 

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* ================================= Contacto ======================================== */
.first_section_cont
{
    width: 98%;
    margin: 15px;
    padding: 50px 40px 20px;
}

.formulario
{
    background-color: var(--blue-two);
    border-radius: 8px;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-top: 1px solid white;
}

.cabecera_form
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1%;
}

.cuerpo_form
{
    padding: 1%;
}

/* ================================= Responsive ======================================== */
@media (max-width: 1550px) {
    
    .box p
    {
        margin-bottom: 6%;
    }
}

@media (max-width: 991px) {
    
    .banner_trasl
    {
        margin-top: 5%;
    }
    
    .banner_exc
    {
        margin-top: 5%;
    }
}

@media (max-width: 965px) {
    
    .first_section
    {
        width: 95%;
        margin: 15px auto;
    }

    .services_options
    {
        width: 95%;
        margin: 15px auto;
    }
}

@media (max-width: 775px) {
    
    .first_section
    {
        width: 90%;
        margin: 15px auto;
    }

    .services_options
    {
        width: 90%;
        margin: 15px auto;
    }

    .services_options h1
    {
        font-size: 1.5em;
    }

    .services_options p
    {
        margin-bottom: 7%;
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {

    .services_options p
    {
        margin-bottom: 10%;
        font-size: 0.8em;
    }
}